li {
    border-bottom: 1px solid #eeeeee;
    line-height: 1.5;
    height: 2rem;
}

li:hover {
    background: #efefef;
}

li:hover input[type="text"] {
    background: #efefef;
}

label {
    display: flex;
    align-items: center;
}

li label input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    line-height: 1;
    border: 1px solid #90d3e9;
    border-radius: 0;
}

li label input[type="checkbox"]:checked:after {
    position: absolute;
    left: 2px;
    content: "\2713";
    font-size: 1rem;
}

li label input[type="text"] {
    border: none;
    width: 100%;
}

input:focus{
    outline: none;
}

.checkbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 2rem;
    border-right: 1px solid #e7b0b0;
}

.input__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14rem;
    height: 2rem;
    margin-left: 3px;
    padding-left: 1rem;
    border-left: 1px solid #e7b0b0;
}

.button__container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

.delete__button {
    width: 1rem;
    height: 1rem;
}

.delete__button:after {
    content: "\00d7";
    position: absolute;
    top: 8px;
    right: 11px;
    font-size: 1rem;
    color: red;
}
