.todo__container {
    margin: 2rem auto;
    width: 20rem;

    border: 1px solid #dddddd;
    border-radius: 4px;

    color: #333333;
    font-family: Tahoma;
}

.todo__add {
    padding: 1.25rem 1.25rem;
    border-bottom: 1px solid #eeeeee;
}

.todo__input {
    display: inline-block;
    border: 1px solid #cccccc;
    padding: 0.5rem;
    width: calc( 100% - 1rem );
}

.todo__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo__container, .todo__container * {
    box-shadow: none;
    outline: none;
}
